div.btnMain { 
	width:100px; 
	height:110px;
	background: url(../images/lg-btn.png);
	background-size: 100px 110px;
	color: white;
	display: table-cell;
	vertical-align: bottom;
	text-align: right;
}

.footer {
	position: fixed;
	bottom: 0;
}

.footer.left {
	left: 0;
}

.footer.right {
	right: 0;
}

.controls {
	display:table;
}

.btnGrp {
	display: table-cell;
	vertical-align: middle;
	width: 99px;
	font-size:7pt;
}

.upper.btnAux {
	background-color: orange;
}

.lower.btnAux {
	background-color: saddlebrown;
}

.btnAux {
	height: 33px;
	width: 33px;
	border-radius:7px;
}

.btnCaption {
	color: white;
	font-size: 10pt;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
	display:none;
}

/* The toggle */
.toggle {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	-webkit-transition: .4s;
	transition: .4s;
}

.toggle:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: #7f0000;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .toggle {
	  background-color: #000;
}

input:focus + .toggle {
	box-shadow: 0 0 1px #000;
}

input:checked + .toggle:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
	background-color: #00ff00;
}

/* Rounded sliders */
.toggle.round {
	border-radius: 17px;
}

.toggle.round:before {
  border-radius: 50%;
}

.wrapper {
	display:table;
	width:100%;
}
.content {
	vertical-align: top;
}
.content.left {
	display:table-cell;
	width:50%;
}
.content.right {
	display:table-cell;
	width:50%;
}
.content.center {
	display:table-cell;
}
.center span.console {
	display:inline-block;
	width:400px;
}

/*
Clockrate Controller
*/

.slidecontainer {
width: 100%; /* Width of the outside container */
}

/* The slider itself */
.clockSlide {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 15px; /* Specified height */
	border-radius: 5px;
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.clockSlide:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.clockSlide::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	border-radius: 50%;
	background: #7F007F; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.clockSlide::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	border-radius: 50%;
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

/* Debug Registers */
.dbgTable {
	width: 100%;
}
